<section>
  {{! conspiracy video go here }}
</section>

<section class="define">
  <h2>What is a conspiracy?</h2>
  <div class="definition">
    <h3><a href="https://www.merriam-webster.com/dictionary/conspiracy" class="def">conspiracy</a> <span>noun</span></h3>
    <p>con-spir-a-cy &nbsp;  | &nbsp;  \ kən-ˈspir-ə-sē \ </p>
    <h4>Definition of <span class="italic">conspiracy</span></h4>
  </div>
  <p class="list">:the act of conspiring together</p>
  <p class="list">:an agreement among conspirators</p>
</section>

<section class="define">
  <h2>What is conspiracy theory?</h2>
  <div class="definition">
    <h3><a href="https://www.merriam-webster.com/dictionary/conspiracy%20theory" class="def">conspiracy theory</a> <span>noun</span></h3>
    <h4>Definition of <span class="italic">conspiracy theory</span></h4>
  </div>
  <p class="list">: a theory that explains an event or set of circumstances as the result of a secret plot by usually powerful conspirators</p>
</section>

<section>
  <h2>About Us</h2>
  {{! <p>describe the website</p> }}
</section>