<section>
  <video autoplay muted loop id="vid">
    <source type="video/mp4" src="/assets/videos/homepage_video.mp4"></source>
  </video>

</section>

<section class="define">
  <h2>What is a conspiracy?</h2>
  <div class="definition">
    <h3><a href="https://www.merriam-webster.com/dictionary/conspiracy">conspiracy</a> <span>noun</span></h3>
    <p>con-spir-a-cy &nbsp;  | &nbsp;  \ kən-ˈspir-ə-sē \ </p>
    <h4>Definition of <span class="italic">conspiracy</span></h4>
  </div>
  <p class="list">:the act of conspiring together</p>
  <p class="list">:an agreement among conspirators</p>
</section>

<section class="define">
  <h2>What is conspiracy theory?</h2>
  <div class="definition">
    <h3><a href="https://www.merriam-webster.com/dictionary/conspiracy%20theory">conspiracy theory</a> <span>noun</span></h3>
    <h4>Definition of <span class="italic">conspiracy theory</span></h4>
  </div>
  <p class="list">: a theory that explains an event or set of circumstances as the result of a secret plot by usually powerful conspirators</p>
</section>
<br>
<section>
  <h2>About</h2>
  <p class="about"><span id="aboutMain">Who killed JFK? Who built the pyramids? Was the COVID-19 virus made on purpose? Are birds real?</span>
  <br>
  <br>
  These are questions tens, if not hundreds of people ask themselves every so often. We recognized there was a need for conspirators and everyday citizens alike, and decided to give the people what they demanded for by compiling a list of some well known conspiracy theories and giving our users the ability to add new theories plus comment on existing ones. 
  <br>
  <br>
  If you are new to our site and would like to sign up, you can go <a href="/signup" id="aboutSignup">SIGNUP NOW</a> or get access to our login page in the navigation bar.
  <br>
  <br>
  We look forward to being your one-stop destination for all things conspiracy.
  </p>
</section>