<h3>Login</h3>

<form class="form login-form">
    <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" id="email-login" type="text"/>
    </div>
    <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" id="password-login" type="password"/>
    </div>
    <div class="form-button">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>

<script src="/public/js/login.js"></script>