
<div class="container text-center">

<form class='form login-form' id="login-form">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Email</span>
    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="email-login">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Password</span>
    <input type="password" class="form-control" aria-describedby="basic-addon1" id="password-login">
  </div>
  <div class='form-button d-grid gap-2'>
    <button type="submit" class="btn btn-light">Log In</button>
  </div>
</form>
<br>
<br>
<br>
<div class="d-grid gap-2">
  <a class="btn btn-primary" id="signupbtn" href='/signup'>Sign Up Instead</a>
</div>

<script src='./js/login.js'></script>
