<div class='row'>
  <div class='col-md-12'>
    <h2>Add a comment</h2>

    <form class='form comment-form'>
      <div class='form-group'>
        <label for='new-comment'>New Comment</label>
        <input class='form-input' type='text' id='new-comment' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Submit</button>
      </div>
    </form>
  </div>
</div>
<script src='./js/comment.js'></script>