<div class='row'>
  <div class='col-md-12'>
    <h2 class="createConspiracy">Add a Conspiracy</h2>

    <form class='form post-form postForm'>
      <div class="input-group mb-3">
        <span for='new-title' class="input-group-text" id="basic-addon1" placeholder="title of conspiracy">Title</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="new-title'">
      </div>
      {{!-- <div class='form-group'>
        <label for='new-title'>Title:</label>
        <input class='form-input' type='text' id='new-title' />
      </div> --}}
      <div class="input-group">
        <span class="input-group-text" for="new-summary">Description</span>
        <textarea class="form-control" aria-label="With textarea" id="new-summary" placeholder="Provide detail of conspiracy"></textarea>
      </div>
      {{!-- <div class='form-group'>
        <label for='new-summary'>Summary:</label>
        <input class='form-input' type='text' id='new-summary' />
      </div> --}}
      <br>
      <div class='form-button d-grid gap-2'>
        <button class='btn btn-primary btn-light' type='submit'>Submit</button>
      </div>
    </form>
  </div>
</div>
<script src='./js/index.js'></script>
