<a href="/newpost" class="m-3">Add a New Post</a>
<div class='row mb-4'></div>
{{#each posts as |post|}}
<a href="/posts/{{post.id}}">
  <div class="border text-center m-3">
    <div class='col-md-4'>
      <h2>{{post.title}}</h2>
      <p>{{post.summary}}</p>
    </div>
 </div>
</a>
{{/each}}
 </div>