<div class='container text-center'>
  <div class='col-md-12'>

    <form class='form signup-form'>
      <div class="input-group mb-3">
        <span for='name-signup' class="input-group-text" id="basic-addon1">Username</span>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id='username-signup'> 
      </div>
      {{!-- <div class='form-group'>
        <label for='name-signup'>Username:</label>
        <input class='form-input' type='text' id='username-signup' />
      </div> --}}
      <div class="input-group mb-3">
        <span for='email-signup' class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id='email-signup'> 
      </div>
      {{!-- <div class='form-group'>
        <label class="m-3" for='email-signup'>Email:</label>
        <input class='form-input' type='text' id='email-signup' />
      </div> --}}
      <div class="input-group mb-3">
        <span for='password-signup' class="input-group-text" id="basic-addon1">Password</span>
        <input type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id='password-signup'> 
      </div>
      {{!-- <div class='form-group'>
        <label for='password-signup'>Password:</label>
        <input class='form-input' type='password' id='password-signup' />
      </div> --}}
      <div class='form-group d-grid gap-2'>
        <button class='btn btn-primary btn-light' type='submit'>Signup</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/signup.js'></script>