body {
  background-color: #2b2d2f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 5px;
}

.navbar-brand {
  font-style: oblique;
  font-size: 32px;
}

.nav-link {
  color: white;
  font-size: 12px;
  letter-spacing: 0.2em;
}

nav {
  padding: 15px 0;
}

section {
  text-align: center;
}

h6 {
  text-align: center;
  font-size: 8px;
}

.define {
  text-align: left;
  padding: 20px;
  margin: 20px;
  background-color: #d3d3d3;
  color: #2b2d2f;
}

.definition {
  text-indent: 50px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-family: 'Gill Sans', Arial, sans-serif;
}

.italic {
  font-style: italic;
}

.list {
  padding-left: 100px;
}

.def {
  color: #2b2d2f;
}

.about {
  padding: 20px;
  margin: 20px;
  border: 1px solid #d3d3d3;
}

#aboutSignup {
  color: white;
}

#aboutMain {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px dotted #d3d3d3;
  font-weight: bold;
}

.grid-cell {
  flex: 1 1 auto;
  max-width: 29vw;
  line-height: 1.5vw;
  border: solid;
  margin: 1em;
  text-align: center;
}

.bg-hp {
  background-color: #2b2d2f;
}

.text-color {
  color: #d3d3d3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media only screen and (max-width: 420px) {
  body {
    font-size: 12px;
  }
  .grid-cell {
    line-height: 3vw;
  }
}

@media only screen and (max-width: 992px) {
  #vid {
    display: none;
  } /*. hide video on mobile screens*/
}
